   <!-- Footer Start -->
   <footer class="section-p1 pt- " >
    <div class="info-footer">
        <div class="col">
            <div class="logo">
                <a >Noxe </a>
            </div>
            
           <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic perferendis vero obcaecati, deleniti ! </p>
            <div class="follow">
                <h4>Follow Us</h4>
                <div class="icon-box">
                    <fa-icon class="icon" [icon]="faFacebook"></fa-icon>
                    <fa-icon class="icon" [icon]="faInstagram"></fa-icon>
                    <fa-icon class="icon" [icon]="faSoundcloud"></fa-icon>
                    <fa-icon class="icon" [icon]="faTiktok"></fa-icon>

                </div>
            </div>  
        </div>
        <div class="col">
            <h4>Home</h4>
            <a href="#">Home</a>
            <a href="#">Movies</a>
            <a href="#">Tv </a>
            <a href="#">Contact Us</a>
        </div>
        <div class="col">
            <h4>My Account</h4>
            <a href="#">Sign In</a>
            <a href="#">View cart</a>
            <a href="#">My wishlist </a>
            <a href="#">Track My Order</a>
            <a href="#">Help</a>
        </div>
    </div>
    <div class=" box-copyright">
        <div class="Copyright">
            <p> Copyright &copy; 2024 Aya Yousef</p>
        </div>
        <div>
            <span> Do you have an account?</span>
            <a (click)="navigateToLogin()">Login</a>
        </div>
    </div>
  
  
</footer>
<!-- Footer End-->