<header class="hero-section">
    <div class="overlay">
      <div class="hero-content">
        <h1>Free Movies to Watch, Anytime Anywhere.</h1>
        <p>The search is over! Let Plex help you find the perfect movie to watch tonight for free.</p>
        <a href="#" class='btn btn-info'>Watch Free</a>
      </div>
    </div>
</header>
<section id="about-head" class="section-p1 reveal container d-flex flex-column flex-lg-row align-items-center">
  <div class="col-lg-6">
    <img src="../../../assets/about.png" alt="About Noxe banner" class="img-fluid">
  </div>
  <div class="col-lg-6 text-center text-lg-start px-lg-5">
    <h2 class="fs-2 fw-bolder pt-sm-2">Noxe</h2>
    <h4 class="fs-2 fw-bolder">Download Favorites, Watch them Offline!</h4>
    <p class="fs-4">It’s super easy to save your favorite shows!</p>
  </div>
</section>

<app-counter-dashboard></app-counter-dashboard>


<section class="mt-5">
  <div class="banner text-center">
    <div class="info-banner mx-auto w-75">
      <fa-icon class="fw-bolder fs-1 icon" [icon]="faQuoteLeft"></fa-icon>
      <p class="quote-text">dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
      <h2 class="author-name">John Doe</h2>
      <p class="designation">Designation</p>
    </div>
  </div>
</section>

<section id="about-head" class="section-p1 reveal">
  

<div class="px-6 w-75  fs-3 text-lg-start px-lg-5">
    <h2 class="fs-2 fw-bolder">Noxe</h2>
    <h4 class="fs-2 fw-bolder">Download Favorites, Watch them Offline!.</h4>
    <p>It’s super easy to save your favorite shows!
    </p>    
</div>
<img class="px-lg-5 px-sm-4" src="../../../assets/2 (2).png" alt="">

</section>
