<div class="container text-center py-4">
  <div class="row gy-4 mt-4">
    <div class="col-12 col-md-4">
      <app-counter [maxCount]="200"></app-counter>
      <h5 class="counter-title mt-2">Satisfied Clients</h5>
    </div>
    <div class="col-12 col-md-4">
      <app-counter [maxCount]="300"></app-counter>
      <h5 class="counter-title mt-2">Customer Happiness</h5>
    </div>
    <div class="col-12 col-md-4">
      <app-counter [maxCount]="100"></app-counter>
      <h5 class="counter-title mt-2">Total Projects</h5>
    </div>
  </div>
</div>
